@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Condensed:ital,wght@0,700;1,400&display=swap');

.roboto{
    
    font-family: 'Roboto Condensed', sans-serif;
}
.pop{
    font-family: 'Poppins', sans-serif;
}

/* ==========Slider========== */
.slider-item{
    height: calc(100vh - 57px);
}
  
/* =============card============ */
.round{
    border-radius: 25px;
}
.hot-card{
    position: relative;
    top: -35px;

}
